.task-form {
    border-top:1px solid lightgray;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.5rem;
    transition:.2s;
}

.plus {
    transition:.3s;
    height:100%;
}

.shown {
    opacity:1;
}

.hidden {
    opacity:0;
}

.task-form:hover {
    background-color:#FAFAFA;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    cursor:pointer;
}

.task-form form {
    overflow: hidden;
    height:0;
    transition:.5s;
    font-size:1rem;
    width:100%;
}

.task-form form button {
    border: 1px solid lightcoral;
}

.task-form form.open {
    height:300px;
}

.inputs {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.inputs .input {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:35%;
    margin-bottom:10px;
    background-color:inherit;
}

.input label {
    width:22%;
    transition:.2s;
}

.input input, .input textarea {
    width:75%;
    border-radius:5px;
    outline:none;
    border:1px solid lightgray;
    padding:2px;
}

.input textarea {
    height:4rem;
    resize:none;
}