.task-list-container {
    display:flex;
    justify-content:center;
}

.task-list {
    border:1px solid lightgray;
    border-radius:5px;
    min-width:55%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.tab-content {
    width:100%;
}