.task-container {
    max-height:2.2rem;
    overflow:hidden;
    transition:.3s;
    font-size:1rem;
    font-family: "Montserrat", sans-serif;
}

.task-container:hover {
    cursor:pointer;
    background-color:#FAFAFA;
}

.expanded {
    max-height:5rem;
}

.shown-info {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid lightgray;
    padding:5px;
}

.hidden-info {
    padding:.5rem;
    margin-left:1.5rem;
    display:flex;
    justify-content:space-between;
    font-weight:lighter;
}

.hidden-info > div:last-child {
    display:flex;
    justify-content:center;
    width:25%;
}

.hidden-info > div:last-child .buttons {
    width:100%;
    display:flex;
    justify-content:center;
}

.hidden-info > div:last-child button {
    margin:5px;
}

.task {
    display:flex;
    align-items:center;
    width:45%;
}

.tags {
    font-weight:lighter;
    color:gray;
    font-size:.8rem;
    display:flex;
    width:45%;
}

.duration {
    width:10%;
}

.tag {
    border:.05rem solid lightgray;
    padding:1px 5px;
    border-radius:10px;
    margin-right:5px;
}

.tag:hover, .active-tag {
    border:.05rem solid lightcoral;
    color:lightcoral;
}

.checkbox {
    border:1px solid lightgray;
    border-radius:5px;
    margin-right:2px;
    width:15px;
    height:15px;
    transition:.2s;
    font-size:.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.checkbox:hover {
    cursor:pointer;
    box-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05), 0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1), 0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
}

.completed {
    background-color:lightcoral;
    border:1px solid lightcoral;
}

.finished {
    color:gray;
}

.checkmark {
    overflow:hidden;
    height:100%;
    transition:.2s;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hidden {
    height:0;
}

/* inputs */

.shown-info input, .hidden-info input {
    font-size:inherit;
    outline:none;
    border:0;
    background-color:inherit;
    border-radius:5px;
    padding:0;
}

.shown-info input:focus, .hidden-info input:focus {
    background-color:white;
    border:1px solid lightgray;
}

.shown-info input#tags {
    font-weight:lighter;
}

.shown-info input#taskName {
    width:100%;
}

.shown-info input#duration {
    width:5%;
    text-align:center;
}

.hidden-info input#description {
    width:100%;
    height:100%;
    font-weight:inherit;
    padding:0;
}